.board {
  background-color: green;
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
  align-content: center;
  row-gap: 50px;
  column-gap: 50px;

  .squares {
    background-color: brown;
  }

  .squares-x {
    color: white;
    background-color: burlywood;
    font-size: 60px;
  }

  .squares-o {
    font-size: 60px;
    background-color: chocolate;
    color: white;
  }
}
